@font-face {
	font-family:'icomoon-ult';
	src:url('fonts/iw_e4t4ikg0.eot');
	src:url('fonts/iw_e4t4ikg0.eot?#iefix') format('embedded-opentype'),
		url('fonts/iw_e4t4ikg0.woff') format('woff'),
		url('fonts/iw_e4t4ikg0.ttf') format('truetype'),
		url('images/iw_e4t4ikg0.svg#iw_e4t4ikg0') format('svg');
	font-weight: normal;
	font-style: normal;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:'icomoon-ult';
		src:url('images/iw_e4t4ikg0.svg#iw_e4t4ikg0') format('svg');
	}
}

icon {
	font-family: 'icomoon-ult' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

icon.mail:before {
	content: "\e000";
}
icon.google-plus:before {
	content: "\e004";
}
icon.facebook:before {
	content: "\e009";
}
icon.instagram:before {
	content: "\e00d";
}
icon.twitter:before {
	content: "\e00e";
}
icon.feed:before {
	content: "\e011";
}
icon.vimeo:before {
	content: "\e016";
}
icon.flickr:before {
	content: "\e01a";
}
icon.yelp:before {
	content: "\e02a";
}
icon.github:before {
	content: "\e02c";
}
icon.blogger:before {
	content: "\e031";
}
icon.tumblr:before {
	content: "\e033";
}
icon.yahoo:before {
	content: "\e035";
}
icon.delicious:before {
	content: "\e043";
}
icon.stumbleupon:before {
	content: "\e044";
}
icon.font-size:before {
	content: "\e090";
}
icon.arrow-down:before {
	content: "\e0a5";
}
icon.arrow-left-6:before {
	content: "\e0d7";
}
icon.arrow-right-6:before {
	content: "\e0d8";
}
icon.arrow-left-7:before {
	content: "\e0d9";
}
icon.arrow-right-7:before {
	content: "\e0de";
}
icon.arrow-right-11:before {
	content: "\e0f2";
}
icon.checkmark-4:before {
	content: "\e134";
}
icon.close:before {
	content: "\e135";
}
icon.close-3:before {
	content: "\e137";
}
icon.thumbs-up-3:before {
	content: "\e157";
}
icon.search-3:before {
	content: "\e1ce";
}
icon.envelop-2:before {
	content: "\e212";
}
icon.yellow-pages:before {
	content: "\e600";
}
icon.city-search:before {
	content: "\e605";
}
icon.bbb:before {
	content: "\e608";
}
icon.avvo:before {
	content: "\e609";
}
icon.angie:before {
	content: "\e60a";
}
icon.bubble-13:before {
	content: "\e6c6";
}
icon.calendar-15:before {
	content: "\e725";
}
icon.cancel-2:before {
	content: "\e746";
}
icon.certificate-2:before {
	content: "\e787";
}
icon.chat-14:before {
	content: "\e7ac";
}
icon.clipboard-4:before {
	content: "\e7f0";
}
icon.clock-7:before {
	content: "\e7fc";
}
icon.accessibility:before {
	content: "\e850";
}
icon.align-left-2:before {
	content: "\e8cd";
}
icon.contrast-2:before {
	content: "\e8fb";
}
icon.angle-down:before {
	content: "\e911";
}
icon.angle-left:before {
	content: "\e914";
}
icon.angle-right:before {
	content: "\e915";
}
icon.deviantart:before {
	content: "\e9c9";
}
icon.arrow-right-28:before {
	content: "\e9e7";
}
icon.fullscreen-alt:before {
	content: "\ec77";
}
icon.fullscreen-exit-alt:before {
	content: "\ec79";
}
icon.group:before {
	content: "\ecd4";
}
icon.group-outline:before {
	content: "\ecd6";
}
icon.health-2:before {
	content: "\ed08";
}
icon.health-3:before {
	content: "\ed09";
}
icon.left-quote:before {
	content: "\ee28";
}
icon.lines:before {
	content: "\ee4a";
}
icon.linkedin-2:before {
	content: "\ee55";
}
icon.linkedin-5:before {
	content: "\ee58";
}
icon.magnifier:before {
	content: "\eeb7";
}
icon.mail-9:before {
	content: "\eebf";
}
icon.phone-3:before {
	content: "\f04b";
}
icon.phone-11:before {
	content: "\f050";
}
icon.play-7:before {
	content: "\f0c3";
}
icon.redo-3:before {
	content: "\f18c";
}
icon.search-4:before {
	content: "\f227";
}
icon.search-8:before {
	content: "\f22b";
}
icon.share-11:before {
	content: "\f25c";
}
icon.smiley-2:before {
	content: "\f2a2";
}
icon.social-pinterest:before {
	content: "\f2bf";
}
icon.stack-checkmark:before {
	content: "\f316";
}
icon.star-2:before {
	content: "\f32e";
}
icon.star-outline:before {
	content: "\f341";
}
icon.stethoscope:before {
	content: "\f352";
}
icon.toothbrush:before {
	content: "\f438";
}
icon.unlocked-8:before {
	content: "\f833";
}
icon.user-12:before {
	content: "\f855";
}
icon.video:before {
	content: "\f883";
}
icon.wrench-7:before {
	content: "\f923";
}
icon.x:before {
	content: "\f927";
}
icon.youtube-3:before {
	content: "\f93a";
}
icon.youtube-4:before {
	content: "\f93b";
}
icon.right-2:before {
	content: "\f979";
}
