/* General Styles */
body {
	font-family: 'Nunito Sans', sans-serif;
	line-height: 1.8;
}

.main-font {
}

.title-font {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.title-font strong, strong.title-font {
	font-weight: 600;
}
/* End General Styles */

/* Title & Header Styles */
h1, h2, h3, h4, h5, h6, section header > strong, section header > a > strong, section header > em, section header > a > em {
	line-height: 1.2;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

section header > em, section header > a > em {
	font-style: normal;
}

h1, .content-style h2.look-like-h1, section header > *:first-child:not(a), section header > a > *:first-child {
	font-weight: 400;
	font-size: 2.111em;
}

h1 em, .content-style h2.look-like-h1 em, section header > *:first-child:not(a) em, section header > a > *:first-child em {
	font-style: normal;
	font-weight: 400;
}

aside header > *:first-child:not(a), aside header > a > *:first-child {
	font-size: 2em;
}

section header.small-title > *:first-child:not(a), section header.small-title > a > *:first-child {
	font-size: 1.333em;
}

.content-style h1, .content-style h2.look-like-h1 {
}

.sub-page .content-style h1, .sub-page .content-style h2.look-like-h1, .content-style header > *:first-child:not(a), .content-style header > a > *:first-child {
	font-size: 1.8889em;
}

.content-style h2, .content-style h3, .content-style h4 {
}

h2, h3, section header > *:nth-child(2):not(p), section header > a > *:nth-child(2):not(p) {
	font-size: 1.6667em;
}

.sub-page .content-style h2, .sub-page .content-style h3, .content-style header > *:nth-child(2):not(p), .content-style header > a > *:nth-child(2):not(p) {
	font-size: 1.5556em;
}

h4 {
	font-size: 1.333em;
}

h5 {
	font-size: 1.25em;
}

h6 {
	font-size: 1.15em;
}
/* End Title & Header Styles */

/* Btn Styles */
.btn {
	font-size: 1em;
	line-height: 1.4;
	font-weight: 700;
}

.v1-btn .btn, .btn.v1 {
	font-size: 1.15em;
}

.v2-btn .btn, .btn.v2 {
}
/* End Btn Styles */

/* Input Styles */
.input-text input[type='text'], .input-text input[type='month'], .input-text input[type='email'], .input-text input[type='tel'], .input-text input[type='datetime'], .input-text input[type='datetime-local'], .input-text textarea, .input-text select, .zip-search-input {
	font-size: 1.222em;
}
/* End Input Styles */

/* 800px Responsive */
@media screen and (max-width:800px) {
	h1, .content-style h2.look-like-h1, section header > *:first-child:not(a), section header > a > *:first-child {
		font-size: 1.8889em;
	}

	h2, h3, section header > *:nth-child(2):not(p), section header > a > *:nth-child(2):not(p) {
		font-size: 1.5556em;
	}
}
/* End 800px Responsive */

/* 550px Responsive */
@media screen and (max-width:550px) {
	h1, .content-style h2.look-like-h1, section header > *:first-child:not(a), section header > a > *:first-child {
		font-size: 1.75em;
	}

	.sub-page .content-style h1, .sub-page .content-style h2.look-like-h1, .content-style header > *:first-child:not(a), .content-style header > a > *:first-child {
		font-size: 1.75em;
	}

	.btn.v1 {
		font-size: 1em;
	}

	aside header > *:first-child:not(a), aside header > a > *:first-child {
		font-size: 1.6667em;
	}
}
/* End 550px Responsive */
